h1{
    font-size: 2em;
}
#nav-logo{
    width: 10px;
    height: 15px;
    width: fit-content;
}
#logo{
    width: 10px;
    height: 15px;
}
nav{
    background-color: #F6F7FC;
}
#slogan{
    color: #23314C;
    font-family: 'Old Standard TT', serif;
    font-size: 80px;
}
#quees{
    background-color: #F6F7FC;
    position: absolute;
    height: fit-content;
    width: 100%;
}
.desc{
    color: #6D81FE;
    font-family: 'Roboto', sans-serif;
}
.blob{
    position: relative;
    width: 100%;
}
#fondo{
    position: absolute;
    width: 100%;
    height: 1080px;
    width: fit-content;
}
nav-item:hover {
    background-color: #23314C;
}
.text{
    font-family: 'Roboto', sans-serif;
    padding-left: 20px;
    padding-right: 20px;
}
.nosotros{
    align-content: center;
    position: absolute;
    width: 40%;
}
.nosotros img{
    position: absolute;
    width: 80%;
    opacity: 0.9;
    left: 70%;
    top: 90px;
}
.nosotros h1 {
    text-align: center;
    position: relative;
    width: 100%;
    top: 130px;
    font-size: 5em;
    font-family: 'Old Standard TT', serif;
    left: 60%;
}
.cuadro{
    background-color: #C46D5E;
    position: absolute;
}